@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
    Layout = "_Layout";
}

<form method="post">
    <p>ログアウトしますか？</p>
    <button type="submit" class="btn btn-outline-secondary">ログアウト</button>
</form>